<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Plain Page</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_title">
            <h2>Plain Page</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-xs-3">
            <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs-left">
              <li class="active"><a href="#home" data-toggle="tab">Home</a>
              </li>
              <li><a href="#profile" data-toggle="tab">Profile</a>
              </li>
              <li><a href="#messages" data-toggle="tab">Messages</a>
              </li>
              <li><a href="#settings" data-toggle="tab">Settings</a>
              </li>
            </ul>
          </div>

          <div class="col-xs-9">
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="home">
                <p class="lead">Home tab</p>
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                  synth. Cosby sweater eu banh mi, qui irure terr.</p>
              </div>
              <div class="tab-pane" id="profile">Profile Tab.</div>
              <div class="tab-pane" id="messages">Messages Tab.</div>
              <div class="tab-pane" id="settings">Settings Tab.</div>
            </div>
          </div>

          <div class="clearfix"></div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /page content -->

<!--Test Page specific JS -->
<!--<script> alert ('Test Page specific JS')</script>-->