
<link href="/admin/build/css/custom1.css" rel="stylesheet">

<div class="row" style="margin-top: 15px;">
  <div class="col-md-6 col-md-offset-3">
    <div class="x_panel">
      <div class="x_title">
        <h2>회원 가입 <small>회원 가입</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <!-- start form for validation -->
        <form id="demo-form" data-parsley-validate>
          <label for="fullname">이름 * :</label>
          <input type="text" id="fullname" class="form-control" name="fullname" required />

          <label for="email">E-mail * :</label>
          <input type="email" id="email" class="form-control" name="email" data-parsley-trigger="change" required />

          <label>Gender *:</label>
          <p>
            M:
            <input type="radio" class="flat" name="gender" id="genderM" value="M" checked="" required /> F:
            <input type="radio" class="flat" name="gender" id="genderF" value="F" />
          </p>

          <label>취미 (최소 2개):</label>
          <p style="padding: 5px;">
            <input type="checkbox" name="hobbies[]" id="hobby1" value="ski" data-parsley-mincheck="2" required class="flat" /> Skiing
            <br />

            <input type="checkbox" name="hobbies[]" id="hobby2" value="run" class="flat" /> Running
            <br />

            <input type="checkbox" name="hobbies[]" id="hobby3" value="eat" class="flat" /> Eating
            <br />

            <input type="checkbox" name="hobbies[]" id="hobby4" value="sleep" class="flat" /> Sleeping
            <br />
            <p>

              <label for="heard">가입경로 *:</label>
              <select id="heard" class="form-control" required>
                <option value="">Choose..</option>
                <option value="press">Press</option>
                <option value="net">Internet</option>
                <option value="mouth">Word of mouth</option>
              </select>

              <label for="message">자기소개 (20 chars min, 100 max) :</label>
              <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                data-parsley-validation-threshold="10"></textarea>

              <br/>
              <span class="btn btn-primary">가입 신청</span>

        </form>
        <!-- end form for validations -->

      </div>
    </div>
  </div>
</div>

<!-- Parsley -->
<script src="/admin/vendors/parsleyjs/dist/parsley.min.js"></script>

<!-- Parsley -->
<script>
  $(document).ready(function() {
    $.listen('parsley:field:validate', function() {
      validateFront();
    });
    $('#demo-form .btn').on('click', function() {
      $('#demo-form').parsley().validate();
      validateFront();
    });
    var validateFront = function() {
      if (true === $('#demo-form').parsley().isValid()) {
        $('.bs-callout-info').removeClass('hidden');
        $('.bs-callout-warning').addClass('hidden');
      } else {
        $('.bs-callout-info').addClass('hidden');
        $('.bs-callout-warning').removeClass('hidden');
      }
    };
  });

  try {
    hljs.initHighlightingOnLoad();
  } catch (err) {}
</script>
<!-- /Parsley -->
