
        <%= render partial: 'admin/nav', layout: false %>

        <!-- page content -->
        <div class="right_col" role="main">
          <%= render partial: 'admin/pages/dashboard', layout: false %>
        </div>
        <!-- /page content -->
