<section id="header">
  <div style="padding:20px;"></div>
  Header - Image
</section>

<section id="content">
  <div class="container">
    <div class="col-md-2">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          공지사항
        </a>
        <a href="#" class="list-group-item">게시판1</a>
        <a href="#" class="list-group-item">게시판2</a>
        <a href="#" class="list-group-item">게시판3</a>
        <a href="#" class="list-group-item">게시판4</a>
      </div>
    </div>
    <div class="col-md-8">
      게시판
    </div>
  </div>
</section>
