<style media="screen">
    .mark{
        border: 1px solid black;
    }
    .cs{
        font-size: 50px;
        font-weight: bold;
        height: 400px;
    }
    .ca{
        height: 350px;
    }
</style>

<center>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-2 mark">
        <span style="font-size:20px;">
            Basic Menu
        </span>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 mark">
        <span style="font-size:40px;">
            Main Menu
        </span>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row mark cs">
    Carousel Area
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 mark">
        <span style="font-size:30px;">
            Contents Menu
        </span>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 mark ca">
        <span style="font-size:30px;">
            Contents Area
        </span>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row mark">
    Footer Area
</div>
