

	<section id="home">
		<div class="home-pattern"></div>
		<div id="main-carousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#main-carousel" data-slide-to="1"></li>
				<li data-target="#main-carousel" data-slide-to="2"></li>
			</ol><!--/.carousel-indicators-->
			<div class="carousel-inner">
				<div class="item active" style="background-image: url(/main/images/slider/slide1.jpg)">
					<div class="carousel-caption">
						<div>
							<h2 class="heading animated bounceInDown">내일을 위한 준비,<br>법무법인 인본과 함께 하세요!</h2>
							<p class="animated bounceInUp">법무법인 인본을 방문해 주셔서 감사합니다.</p>
							<!--<a class="btn btn-default slider-btn animated fadeIn" href="#">Get Started</a>-->
						</div>
					</div>
				</div>
				<!--<div class="item" style="background-image: url(/main/images/slider/slide1.jpg)">-->
					<!--<div class="carousel-caption"> <div>-->
						<!--<h2 class="heading animated bounceInDown">Get All in Onepage</h2>-->
						<!--<p class="animated bounceInUp">Everything is outstanding </p> <a class="btn btn-default slider-btn animated fadeIn" href="#">Get Started</a>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="item" style="background-image: url(/main/images/slider/slide1.jpg)">-->
				<!--<div class="carousel-caption"> -->
					<!--<div> -->
						<!--<h2 class="heading animated bounceInRight">Fully Responsive Template</h2> -->
						<!--<p class="animated bounceInLeft">100% Responsive HTML template</p> -->
						<!--<a class="btn btn-default slider-btn animated bounceInUp" href="#">Get Started</a> -->
					<!--</div> -->
				<!--</div> -->
			<!--</div>-->
		</div><!--/.carousel-inner-->

		<a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
		<a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
	</div>

</section><!--/#home-->

<style media="screen">
	.content-icon{
		font-weight: bold;
		font-size: 18px;
		color: white;
	}
	.sec{
		padding: 5px;
    background-image: url(/main/images/brown-pattern2.png);
    background-repeat: repeat;
    /*opacity: 0.8;*/
	}
</style>

<section class="sec">
		<div class="container">
			<!-- <div class="row">
				<div class="col-md-2"></div> -->
				<!-- <div class="col-md-8"> -->
				<center>
					<div class="col-md-3 content-icon"><img src="http://dummyimage.com/100x100/ffffff/000000.jpg&text=ICON" /><br>법무법인 인본소개</div>
					<div class="col-md-3 content-icon"><img src="http://dummyimage.com/100x100/ffffff/000000.jpg&text=ICON" /><br>개인회생 신청자격</div>
					<div class="col-md-3 content-icon"><img src="http://dummyimage.com/100x100/ffffff/000000.jpg&text=ICON" /><br>개인파산 신청자격</div>
					<div class="col-md-3 content-icon"><img src="http://dummyimage.com/100x100/ffffff/000000.jpg&text=ICON" /><br>인본으로 오시는 길</div>
				</center>
				<!-- </div> -->
				<!-- <div class="col-md-2"></div>
			</div> -->
		</div>
</section>


<!--<section id="about-us">-->
	<!--<div class="container">-->
		<!--<div class="text-center">-->
			<!--<div class="col-sm-8 col-sm-offset-2">-->
				<!--<h2 class="title-one">Why With Us?</h2>-->
				<!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="about-us">-->
			<!--<div class="row">-->
				<!--<div class="col-sm-6">-->
					<!--<h3>Why with us?</h3>-->
					<!--<ul class="nav nav-tabs">-->
						<!--<li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-chain-broken"></i> About</a></li>-->
						<!--<li><a href="#mission" data-toggle="tab"><i class="fa fa-th-large"></i> Mission</a></li>-->
						<!--<li><a href="#community" data-toggle="tab"><i class="fa fa-users"></i> Community</a></li>-->
					<!--</ul>-->
					<!--<div class="tab-content">-->
						<!--<div class="tab-pane fade in active" id="about">-->
							<!--<div class="media">-->
								<!--<img class="pull-left media-object" src="/main/images/about-us/about.jpg" alt="about us">-->
								<!--<div class="media-body">-->
									<!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="tab-pane fade" id="mission">-->
							<!--<div class="media">-->
								<!--<img class="pull-left media-object" src="/main/images/about-us/mission.jpg" alt="Mission">-->
								<!--<div class="media-body">-->
									<!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci </p>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="tab-pane fade" id="community">-->
							<!--<div class="media">-->
								<!--<img class="pull-left media-object" src="/main/images/about-us/community.jpg" alt="Community">-->
								<!--<div class="media-body">-->
									<!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-sm-6">-->
					<!--<h3>Our Skills</h3>-->
					<!--<div class="skill-bar">-->
						<!--<div class="skillbar clearfix " data-percent="90%">-->
							<!--<div class="skillbar-title">-->
								<!--<span>HTML5 &amp; CSS3</span>-->
							<!--</div>-->
							<!--<div class="skillbar-bar"></div>-->
							<!--<div class="skill-bar-percent">90%</div>-->
						<!--</div> &lt;!&ndash; End Skill Bar &ndash;&gt;-->
						<!--<div class="skillbar clearfix" data-percent="85%">-->
							<!--<div class="skillbar-title"><span>UI Design</span></div>-->
							<!--<div class="skillbar-bar"></div>-->
							<!--<div class="skill-bar-percent">85%</div>-->
						<!--</div> &lt;!&ndash; End Skill Bar &ndash;&gt;-->
						<!--<div class="skillbar clearfix " data-percent="70%">-->
							<!--<div class="skillbar-title"><span>jQuery</span></div>-->
							<!--<div class="skillbar-bar"></div>-->
							<!--<div class="skill-bar-percent">70%</div>-->
						<!--</div> &lt;!&ndash; End Skill Bar &ndash;&gt;-->
						<!--<div class="skillbar clearfix " data-percent="60%">-->
							<!--<div class="skillbar-title"><span>PHP</span></div>-->
							<!--<div class="skillbar-bar"></div>-->
							<!--<div class="skill-bar-percent">60%</div>-->
						<!--</div> &lt;!&ndash; End Skill Bar &ndash;&gt;-->
						<!--<div class="skillbar clearfix " data-percent="75%">-->
							<!--<div class="skillbar-title"><span>Wordpress</span></div>-->
							<!--<div class="skillbar-bar"></div>-->
							<!--<div class="skill-bar-percent">75%</div>-->
						<!--</div> &lt;!&ndash; End Skill Bar &ndash;&gt;</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</section>&lt;!&ndash;/#about-us&ndash;&gt;-->

	<section id="contact">
		<div class="container">
			<div class="row text-center clearfix">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="contact-heading">
						<h2 class="title-one">Contact With Us</h2>
						<p>법무법인 인본은 사람을 근본으로 생각하며 일하고 사람이 숨쉬는 자연을 소중히 합니다.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="contact-details">
				<div class="pattern"></div>
				<div class="row text-center clearfix">
					<div class="col-sm-6">
						<div class="contact-address"><address><p><span>법무법인</span> 인본</p><strong>서울특별시 서초구<br>반포대로 28길 19,<br> 정우빌딩 5층(서초동)</strong><br><small>( T. 02-596-9400 F. 02-536-9651 )</small></address>
							<div class="social-icons">
								<a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div id="contact-form-section">
							<div class="status alert alert-success" style="display: none"></div>
							<form id="contact-form" class="contact" name="contact-form" method="post" action=".">
								<div class="form-group">
									<input type="text" name="name" class="form-control name-field" required="required" placeholder="성함"></div>
									<div class="form-group">
										<input type="text" name="text" class="form-control mail-field" required="required" placeholder="연락처">
									</div>
									<div class="form-group">
										<textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="내용"></textarea>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-primary">전송</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> <!--/#contact-->
