<style>
  .row div.basic{
    float: right;
    padding: 10px;
    border: solid black 1px;
  }
</style>
<div class="row">
  <div class="basic">
    사이트 맵
  </div>
  <div class="basic">
    회원가입
  </div>
  <div class="basic">
    로그인
  </div>
</div>