<style>
  .row div.main_menus{
    float: left;
    padding: 10px;
    border: solid black 1px;
  }
</style>
<div class="row">
  <div class="main_menus">
    메뉴1
  </div>
  <div class="main_menus">
    메뉴2
  </div>
</div>