<div id="footer">
  <div class="container">
    <div class="text-center">
      <p>법무법인 인본 | 서울특별시 서초구 반포대로 28길 19, 정우빌딩 5층(서초동) <small> T. 02-596-9400 F. 02-536-9651 </small></p>
      <p>Copyright &copy; 2016 - <a href="http://www.inbonlaw.co.kr/">법무법인 인본</a> | All Rights Reserved</p>
    </div>
  </div>
</div>
<style media="screen">
  #footer{
    padding-top:28px;
    color: white;
  }
</style>