        <div id="side_tab_box">
          <div class="currentTab">
            <p><%= @tab.title %></p>
          </div>
          <div class="intabs_wrap">
            <% @intabs.each do |x| %>
              <a href="/site/<%= x.id %>"><p class="intab_in_currentTab <%= "active" if x.title == @intab.title %> "><%= x.title %></p></a>
            <% end %>
          </div>
        </div>