<%= render partial: 'site/features/page_common_CSS' %>
<%= render partial: 'site/features/page_common_header' %>
<div id="contents">
  <div class="container" style="padding: 0px 30px;">
    <p id="introduce-title" style="font-size: 30px;margin-top: 10px;margin-bottom: 30px;text-align: center;">{&nbsp;&nbsp; 인본으로 찾아오시는 길 &nbsp;&nbsp;}</p>
    <div class="col-sm-6" style="padding:0px 15px;margin-top:15px;">
      <img src="/main/images/templete/mapPicture_for_map.png" style="width:100%;margin:0px 5px;box-shadow: #777 5px 5px 23px;">
    </div>
    <div class="col-sm-6" style="padding:0px 15px;margin-top:15px;">
      <div>
        <p class="address">주소 : <span class="detail">서울 서초구 반포대로28길 19, 정우빌딩 5층(서초동)</span></p>
        <p class="address">전화 : <span class="detail">02-6012-0400</span> | FAX : <span class="detail">02-537-9651</span></p>
      </div>
      <div class="trans">
        <p><img src="http://www.inbonlaw.co.kr/img/map_subway.gif" alt="지하철" width="42" height="35" style="" rel="xe_gallery"> <strong class="point_gray1">지하철을 이용하실 경우</strong><br></p>
        <p class="detail" style="">- 지하철 2호선 서초역 1번 출구에서 바로 나와서 우회전. <br>- 직진해서 첫번째 사거리에서 좌회전 2번째 빌딩. <br>- 1층에 브로첸 빵집</p>
      </div>
      <div class="trans">
        <p><img src="http://www.inbonlaw.co.kr/img/map_bus.gif" alt="시외버스" width="42" height="35" style="" rel="xe_gallery"> <strong class="point_gray1">버스를 이용하실 경우</strong><br></p>
        <p class="detail">&nbsp;</p>
      </div>
    </div>
  </div>
</div>
<style>
  .address{
    font-size: 22px !important;
    font-weight: bold;
    color: #666;
  }
  .address > span.detail{
    font-size: 21px !important;
    font-weight: 400;
    color: #555;
    background:#fff;
  }
  .trans{
    margin-top:20px;
  }
  .trans > p.detail{
    font-size: 22px !important;
  }
</style>