<%= render partial: 'site/features/page_common_CSS' %>
<%= render partial: 'site/features/page_common_header' %>
<div id="contents">
  <div class="container" style="padding: 0px 30px;">
    <p id="introduce-title" style="font-size: 30px;margin-top: 10px;margin-bottom: 40px;text-align: center;"><%= @intab.posts.first.title %></p>
    <img src="<%= @intab.posts.first.img1 %>" style="width:100%;margin:0px 5px;box-shadow: #777 5px 5px 23px;">
  </div>
</div>