
#identityPannel{
width: 100%;
height: 260px;
background-size: cover;
background-position-y: 25%;
box-shadow: #aeaeae 0px 2px 10px;
}
#identityPannel_cover{
width: 100%;
height: 260px;
margin-top: -260px;
background:rgba(0,0,0,0.3);
}
#identityPannel_cover > p{
color: #fff;
text-align: center;
}
#identityPannel_cover > p:first-child{
font-size: 40px;
padding-top: 80px;
}
#identityPannel_cover > p:nth-child(2){
font-size:25px;
}
#current_position{
width:100%;
height:50px;
background:#ddd;
box-shadow: #aeaeae 0px 2px 10px;
}
#current_position p{
font-size: 20px;
color: #777;
font-weight: bold;
margin-top: 12px;
float: left;
}
#callBox{
float:right;
font-size: 18px;
color: #777;
font-weight: bold;
padding: 12px 24px;
border-left: 1px solid #777;
border-right: 1px solid #777;
}

#contents{
padding-top:50px;
padding-bottom:30px;
}
#contents p{
font-size: 24px;
}
#contents pre{
white-space: pre-line;
line-height: 2;
background: none;
border: none;
font-size: 18px;
font-family: inherit;
padding: 9.5px 0px;
clear: both;
}
#introduce-signature{
float: right;
}



#side_tab_box{
width:100%;
margin:0px 5px;
box-shadow: #777 2px 2px 11px;
color:#fff;
text-align: center;
}
#side_tab_box .currentTab{
width:100%;
background:#333;
cursor: pointer;
}
#side_tab_box .currentTab > p {
font-size:25px;
font-weight:bold;
padding: 25px;
margin: 0;
}
#side_tab_box .intabs_wrap{
width:100%;
color: #666;
}
#side_tab_box .intabs_wrap .intab_in_currentTab{
font-size:23px;
font-weight: bold;
padding: 10px 0px;
margin: 0;
border-bottom: 1px solid #666;
cursor: pointer;
transition:all 0.1s;
}
#side_tab_box .intabs_wrap .intab_in_currentTab:hover{
background: #dddeee;
}
#side_tab_box .intabs_wrap .intab_in_currentTab.active{
color:#000;
background: rgba(221, 222, 238, 0.7);
}
#side_tab_box .intabs_wrap .intab_in_currentTab.active:hover{
background: rgba(221, 222, 238, 1);
}
.intabs_wrap > a{
color: inherit;
text-decoration: none;
}