<style>
  #identityPannel{
    width: 100%;
    height: 260px;
    background-image: url("/main/images/slider/slide4.jpg");
    background-size: cover;
    background-position-y: 25%;
    box-shadow: #aeaeae 0px 2px 10px;
  }
  #identityPannel_cover{
    width: 100%;
    height: 260px;
    margin-top: -260px;
    background:rgba(0,0,0,0.3);
  }
  #identityPannel_cover > p{
    color: #fff;
    text-align: center;
  }
  #identityPannel_cover > p:first-child{
    font-size: 40px;
    padding-top: 80px;
  }
  #identityPannel_cover > p:nth-child(2){
    font-size:25px;
  }
  #current_position{
    width:100%;
    height:50px;
    background:#ddd;
    box-shadow: #aeaeae 0px 2px 10px;
  }
  #current_position p{
    font-size: 20px;
    color: #777;
    font-weight: bold;
    margin-top: 12px;
    float: left;
  }
  #callBox{
    float:right;
    font-size: 18px;
    color: #777;
    font-weight: bold;
    padding: 12px 24px;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
  }
  
  #contents{
    padding-top:50px;
    padding-bottom:30px;
  }
  #contents p{
    font-size: 24px;
  }
  #contents pre{
    white-space: pre-line;
    line-height: 2;
    background: none;
    border: none;
    font-size: 18px;
    font-family: inherit;
    padding: 9.5px 0px;
    clear: both;
  }
  #introduce-title{
    color:#377ab7;
    font-weight: bold;
    margin-top: 100px;
  }
  #introduce-signature{
    float: right;
  }
</style>

<div id="identityPannel"></div>
<div id="identityPannel_cover">
  <p>인본의 꿈</p>
  <p>인본이 꿈꾸는 희망 그리고 미래</p>
</div>
<div id="current_position">
  <div class="container" style="padding: 0px 30px;">
    <p><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp; <a href="/site/main" style="color: inherit;font-weight:400;">HOME</a> &nbsp;&nbsp;>&nbsp;&nbsp; <span style="font-weight:400;">인본소개</span> &nbsp;&nbsp;>&nbsp;&nbsp; <a href="#" style="color: inherit;">인본의 꿈</a></p>
    <div id="callBox"><span class="glyphicon glyphicon-earphone"></span>&nbsp; 02) 596 - 9400</div>
  </div>
</div>
<div id="contents">
  <div class="container" style="padding: 0px 30px;">
    <img src="" style="<%= "display:none;" %> float:right;width:200px;height:200px;margin:0px 5px;">
    <img src="/main/images/inbon_img.gif" style="<%#= "display:none;" %> float:right;width:200px;height:200px;margin:0px 5px;">
    <p id="introduce-title">"열 길 물 속은 알아도 사람 속은 모른다."</p>
    <pre id="introduce-content">많은 소송의뢰인들이 사람에 대한 깊은 배신감과 상처를 안고 마지막 희망의 끈을 가지고
저희 법무법인 인본을 찾아주시는 모습을 보면서 안타까움과 무거운 책임감을 동시에 느끼며
인본은  의뢰인의 문제를 함께 공감하고 끈끈한 유대관계를 통해 다각도에서 문제를 해결해드리고자
노력하고 있습니다.
 
동시에 현재 각박해진 우리나라 사회 풍토를 보면서 단순히 당장 눈 앞의 이익과 분쟁 해결에만
그치는 것이 아니라 대한민국과 우리나라 사회 전반에  이바지할 수 있는 법무법인으로서
다양한 방면에서 활동하고 있습니다.
 
가까운 곳에서는 인본에서 근무하는 직원들의 근무환경 및 복지 향상에서부터,
나아가 사회 소외계층 및 약자인 여성인권과 장애인의 기본권 보장 및 봉사, 기부활동에 이르기까지
다양한 사회봉사활동을 통해 대한민국 사회가 모든 사람이 서로 존중하고 배려하며 더불어 살 수 있는 세상이
되도록 인본은 항상 희망을 가지고 꿈꾸며 나아가고 있습니다.
 
항상 사람을 먼저 생각하고 존중하는 사회
그것이 바로 <b>人本</b>의 희망이자 꿈꾸는 미래입니다.!</pre>
    <p id="introduce-signature"></p>
  </div>
</div>