<style>
  #identityPannel{
    width: 100%;
    height: 260px;
    background-image: url("/main/images/slider/slide4.jpg");
    background-size: cover;
    background-position-y: 25%;
    box-shadow: #aeaeae 0px 2px 10px;
  }
  #identityPannel_cover{
    width: 100%;
    height: 260px;
    margin-top: -260px;
    background:rgba(0,0,0,0.3);
  }
  #identityPannel_cover > p{
    color: #fff;
    text-align: center;
  }
  #identityPannel_cover > p:first-child{
    font-size: 40px;
    padding-top: 80px;
  }
  #identityPannel_cover > p:nth-child(2){
    font-size:25px;
  }
  #current_position{
    width:100%;
    height:50px;
    background:#ddd;
    box-shadow: #aeaeae 0px 2px 10px;
  }
  #current_position p{
    font-size: 20px;
    color: #777;
    font-weight: bold;
    margin-top: 12px;
    float: left;
  }
  #callBox{
    float:right;
    font-size: 18px;
    color: #777;
    font-weight: bold;
    padding: 12px 24px;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
  }

  #contents{
    padding-top:50px;
    padding-bottom:30px;
  }
  #contents p{
    font-size: 24px;
  }
  #contents pre{
    white-space: pre-line;
    line-height: 2;
    background: none;
    border: none;
    font-size: 18px;
    font-family: inherit;
    padding: 9.5px 0px;
    clear: both;
  }
  #introduce-title{
    color:#377ab7;
    font-weight: bold;
    margin-top: 100px;
  }
  #introduce-signature{
    float: right;
  }
</style>

<div id="identityPannel"></div>
<div id="identityPannel_cover">
  <p>인사말</p>
  <p>법무법인 인본은 사람을 근본으로 생각하며 일하고, 사람이 숨쉬는 자연을 소중히 합니다.</p>
</div>
<div id="current_position">
  <div class="container" style="padding: 0px 30px;">
    <p><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp; <a href="/site/main" style="color: inherit;font-weight:400;">HOME</a> &nbsp;&nbsp;>&nbsp;&nbsp; <span style="font-weight:400;">인본소개</span> &nbsp;&nbsp;>&nbsp;&nbsp; <a href="#" style="color: inherit;">인사말</a></p>
    <div id="callBox"><span class="glyphicon glyphicon-earphone"></span>&nbsp; 02) 596 - 9400</div>
  </div>
</div>
<div id="contents">
  <div class="container" style="padding: 0px 30px;">
    <img src="/main/images/templete/img2_for_introduce.jpg" style="<%#= "display:none;" %> float:right;width:200px;height:200px;margin:0px 5px;">
    <img src="/main/images/templete/img1_for_introduce.jpg" style="<%#= "display:none;" %> float:right;width:200px;height:200px;margin:0px 5px;">
    <p id="introduce-title">"법무법인 인본은 젊은 변호사들의 열의와 열정으로 설립되었습니다."</p>
    <pre id="introduce-content">법무법인 인본의 변호사들은 모두 일선에서 뛰어난 변호사 업무를 수행하며 그 능력을 인정받았습니다.
열정과 능력을 겸비한 젊은 40대 변호사들이 보다 훌륭한 소송 진행 및 법률 서비스를 제공하기 위해  한데 모여 법무법인 인본을 설립하였습니다.

법무법인 인본은  사람 '인(人)', 근본 '본(本)'에서 나타나듯이 사람들의 근본적인 도리를 따르고, 그 도리를 법률과 가장 조화될 수 있는 방법을 제시하며, 인간으로서 누릴 수 있는 최고의 행복과 기본적인 권리를 찾을 수 있도록 최선을 다 할 것입니다.
저희 법무법인 인본과 함께 하신다면 언제나 최고의 서비스를 제공받고, 최상의 결과를 얻을 수 있을 것임을 자신있게 말씀드리는 바입니다.

법무법인 인본은 국내 모든 소송분야(민사, 형사, 가사, 행정, 헌법, 파산 중재 및 조정)를 진행하고 있으며, 특히 다양한 경험과 전문 지식을 바탕으로 관련 분야에서 최고의 법률 서비스를 제공하고 있습니다. 또한 유능한 국제 변호사님과 여러 분야의 자문위원을 통하여 국내외 소송 진행에 있어 효율성을 극대화하고 있습니다.

앞으로도 저희 법무법인 인본 구성원들은 한사람 한사람의 모든 권리와 이익을 중요시하고, 하루하루 더욱 발전하는 모습을 보여주기 위하여 최대한 노력할 것이며 젊음과 지식이 어우러진 최고의 법무법인으로 성장해 나갈 것임을 다짐하는 바입니다.

여러분의 든든한 동반자 법무법인 인본에 대한 아낌없는 성원과 채찍질을 부탁드립니다.

감사합니다.</pre>
    <p id="introduce-signature">법무법인 인본 임직원 일동</p>
  </div>
</div>
