<style>
  #identityPannel{
    width: 100%;
    height: 260px;
    background-image: url("/main/images/slider/slide4.jpg");
    background-size: cover;
    background-position-y: 25%;
    box-shadow: #aeaeae 0px 2px 10px;
  }
  #identityPannel_cover{
    width: 100%;
    height: 260px;
    margin-top: -260px;
    background:rgba(0,0,0,0.3);
  }
  #identityPannel_cover > p{
    color: #fff;
    text-align: center;
  }
  #identityPannel_cover > p:first-child{
    font-size: 40px;
    padding-top: 80px;
  }
  #identityPannel_cover > p:nth-child(2){
    font-size:25px;
  }
  #current_position{
    width:100%;
    height:50px;
    background:#ddd;
    box-shadow: #aeaeae 0px 2px 10px;
  }
  #current_position p{
    font-size: 20px;
    color: #777;
    font-weight: bold;
    margin-top: 12px;
    float: left;
  }
  #callBox{
    float:right;
    font-size: 18px;
    color: #777;
    font-weight: bold;
    padding: 12px 24px;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
  }
  
  #contents{
    padding-top:50px;
    padding-bottom:30px;
  }
  #contents p{
    font-size: 24px;
  }
  #contents pre{
    white-space: pre-line;
    line-height: 2;
    background: none;
    border: none;
    font-size: 18px;
    font-family: inherit;
    padding: 9.5px 0px;
    clear: both;
  }
  #introduce-title{
    color:#377ab7;
    font-weight: bold;
    margin-top: 100px;
  }
  #introduce-signature{
    float: right;
  }
</style>

<div id="identityPannel"></div>
<div id="identityPannel_cover">
  <p>변호사</p>
  <p>정한철 변호사, 곽균열 변호사, 김호산 변호사, 신가현 변호사, 서범석 변호사</p>
</div>
<div id="current_position">
  <div class="container" style="padding: 0px 30px;">
    <p><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp; <a href="/site/main" style="color: inherit;font-weight:400;">HOME</a> &nbsp;&nbsp;>&nbsp;&nbsp; <span style="font-weight:400;">법인구성원</span> &nbsp;&nbsp;>&nbsp;&nbsp; <a href="#" style="color: inherit;">변호사</a></p>
    <div id="callBox"><span class="glyphicon glyphicon-earphone"></span>&nbsp; 02) 596 - 9400</div>
  </div>
</div>
<div id="contents">
  <div class="container" style="padding: 0px 30px;">
    <p id="introduce-title" style="font-size: 30px;margin-top: 10px;margin-bottom: 30px;text-align: center;"><span id="member_3" class="active">정한철 변호사</span> &nbsp;&nbsp;|&nbsp;&nbsp; <span id="member_4">곽균열 변호사</span>|&nbsp;&nbsp; <span id="member_5">김호산 변호사</span>|&nbsp;&nbsp; <span id="member_6">신가현 변호사</span>|&nbsp;&nbsp; <span id="member_7">서범석 변호사</span></p>
    <div id="member_detail_3" class="col-sm-12" style="padding:0;">
      <div class="col-sm-6" style="padding:0px 15px;margin-top:15px;">
        <img src="/main/images/templete/member3.jpg" style="width:100%;margin:0px 5px;box-shadow: #777 5px 5px 23px;">
      </div>
      <div class="col-sm-6" style="padding:0px 15px;margin-top:15px;">
        <div class="trans">
          <p style="color:rgba(55, 122, 183, 1);"><strong class="point_gray1">■ 학력</strong><br></p>
          <p class="detail" style="">- 광주 고려고등학교 졸업</p>
          <p class="detail" style="">- 성균관대학교 법대졸업</p>
          <p class="detail" style="">- 사법연수원 수료(제38기)</p>
        </div>
        <div class="trans">
          <p style="color:rgba(55, 122, 183, 1);"><strong class="point_gray1">■ 활동</strong><br></p>
          <p class="detail" style="">- 법무법인 양재 근무</p>
          <p class="detail" style="">- 법무법인 다비다 근무</p>
          <p class="detail" style="">- 대한변호사협회 선거관리위원회 위원</p>
          <p class="detail" style="">- 현 성균관대학교 로스쿨 초빙교수</p>
          <p class="detail" style="">- 현 서울중앙지방법원 상임조정위원</p>
          <p class="detail" style="">- 현 세무사/ 변리사/ 회계관리 2급</p>
          <p class="detail" style="">- 현 인테리어 25시 봉사단 상임부회장</p>
          <p class="detail" style="">- 현 대한불교청년회 중앙부회장</p>
          <p class="detail" style="">- 현 중소기업고문변호사단 고문변호사</p>
          <p class="detail" style="">- 사단법인 작명가협회 자문변호사</p>
          <p class="detail" style="">- 세종봉사회 과천지부장</p>
          <p class="detail" style="">- 한국성폭력위기센터 성폭력피해자 무료법률구조사업 전문변호사</p>
          <p class="detail" style="">- 대한상사중재원 제8기 건설클레임 수료</p>
          <p class="detail" style="">- 서울지방변호사회 특허연수원 제7기 연수과정 수료</p>
          <p class="detail" style="">- 고려대학교 의료법학연구소 제17기 의료법학고위과정 수료</p>
          <p class="detail" style="">- 단국대학교 골프 최고위과정 수료</p>
          <p class="detail" style="">- 변호사 연수원에서 실시한 공익사업과 보상, 부동산 소송외 다수 특별연수과정 수료</p>
          <p class="detail" style="">- 신세계법무팀 계약실무 강의 및 인천시 노인인권교육 강사</p>
        </div>
      </div>
    </div>
    <div id="member_detail_4" class="col-sm-12" style="padding:0; display:none;">
      <div class="col-sm-6" style="padding:0px 15px;margin-top:15px;">
        <img src="/main/images/templete/member4.jpg" style="width:100%;margin:0px 5px;box-shadow: #777 5px 5px 23px;">
      </div>
      <div class="col-sm-6" style="padding:0px 15px;margin-top:15px;">
        <div class="trans">
          <p style="color:rgba(55, 122, 183, 1);"><strong class="point_gray1">■ 학력</strong><br></p>
          <p class="detail" style="">- 안양 신성고등학교 졸업</p>
          <p class="detail" style="">- 건국대학교 중문과 졸업</p>
          <p class="detail" style="">- 사법연수원 수료(제36기)</p>
        </div>
        <div class="trans">
          <p style="color:rgba(55, 122, 183, 1);"><strong class="point_gray1">■ 활동</strong><br></p>
          <p class="detail" style="">- 법무법인 서호 근무</p>
          <p class="detail" style="">- 변호사 곽균열 법률사무소 개업</p>
          <p class="detail" style="">- 현 클린스포츠연대 대표</p>
          <p class="detail" style="">- 현 프로축구연맹 선수에이전트</p>
        </div>
      </div>
    </div>
    <div id="member_detail_5" class="col-sm-12" style="padding:0; display:none;">
      <div class="col-sm-6" style="padding:0px 15px;margin-top:15px;">
        <img src="/main/images/templete/member5.jpg" style="width:100%;margin:0px 5px;box-shadow: #777 5px 5px 23px;">
      </div>
      <div class="col-sm-6" style="padding:0px 15px;margin-top:15px;">
        <div class="trans">
          <p style="color:rgba(55, 122, 183, 1);"><strong class="point_gray1">■ 학력</strong><br></p>
          <p class="detail" style="">- 대구 외국어고등학교 졸업</p>
          <p class="detail" style="">- 경북대학교 법과대학 수석졸업</p>
          <p class="detail" style="">- 성균관대학교 법학전문대학원 졸업</p>
          <p class="detail" style="">- Marshall Univ. (웨스트버지니아 주, 미국 ; 2006 -2007)</p>
          <p class="detail" style="">- 교환학생과정 이수</p>
        </div>
        <div class="trans">
          <p style="color:rgba(55, 122, 183, 1);"><strong class="point_gray1">■ 활동</strong><br></p>
          <p class="detail" style="">- 변호사시험 제1회 합격</p>
        </div>
      </div>
    </div>
    <div id="member_detail_6" class="col-sm-12" style="padding:0; display:none;">
      <div class="col-sm-6" style="padding:0px 15px;margin-top:15px;">
        <img src="/main/images/templete/member6.jpg" style="width:100%;margin:0px 5px;box-shadow: #777 5px 5px 23px;">
      </div>
      <div class="col-sm-6" style="padding:0px 15px;margin-top:15px;">
        <div class="trans">
          <p style="color:rgba(55, 122, 183, 1);"><strong class="point_gray1">■ 학력</strong><br></p>
          <p class="detail" style="">- 03 김천여자고등학교</p>
          <p class="detail" style="">- 09 고려대학교 국어국문학과</p>
          <p class="detail" style="">- 12 경북대학교 법학전문대학원</p>
        </div>
        <div class="trans">
          <p style="color:rgba(55, 122, 183, 1);"><strong class="point_gray1">■ 활동</strong><br></p>
          <p class="detail" style="">- 법무법인 인본</p>
          <p class="detail" style="">- 서울개원초등학교 변호사명예교사</p>
        </div>
        <div class="trans">
          <p style="color:rgba(55, 122, 183, 1);"><strong class="point_gray1">■ 수상경력</strong><br></p>
          <p class="detail" style="">- 제2회 가인법정변론경연대회 장려상</p>
        </div>
      </div>
    </div>
    <div id="member_detail_7" class="col-sm-12" style="padding:0; display:none;">
      <div class="col-sm-6" style="padding:0px 15px;margin-top:15px;">
        <img src="/main/images/templete/member7.jpg" style="width:100%;margin:0px 5px;box-shadow: #777 5px 5px 23px;">
      </div>
      <div class="col-sm-6" style="padding:0px 15px;margin-top:15px;">
        <div class="trans">
          <p style="color:rgba(55, 122, 183, 1);"><strong class="point_gray1">■ 학력</strong><br></p>
          <p class="detail" style="">- 광주광덕중학교, 광주금호고등학교 졸업(20회)</p>
          <p class="detail" style="">- 서울대 법학과 졸업(96학번)</p>
          <p class="detail" style="">- 사법시험 46회 합격(사법연수원 36기)</p>
        </div>
        <div class="trans">
          <p style="color:rgba(55, 122, 183, 1);"><strong class="point_gray1">■ 활동</strong><br></p>
          <p class="detail" style="">- 법무법인 케이씨엘 근무(기업법률자문팀 근무, 법률실사시 행정파트 담당)</p>
          <p class="detail" style="">- 법무법인 로텍 근무</p>
          <p class="detail" style="">- 현 법무법인 인본 근무(파트너 변호사)</p>
          <p class="detail" style="">- 공정거래위원회 송무변호사(2008년 ~ 현재)</p>
          <p class="detail" style="">- 서울특별시 도시정비사업 법률지원단 자문위원</p>
          <p class="detail" style="">- 서울특별시, 서초구, 시흥시청 송무 및 자문업무 다수 수행</p>
          <p class="detail" style="">- 미래에셋생명, 한화생명, 케이비손보 송무 및 자문업무 다수 수행</p>
          <p class="detail" style="">- NPL 업체(유암코, 제이원자산관리, MG신용정보, 파빌리온자산관리 등) 송무 및 자문업무 다수 수행</p>
          <p class="detail" style="">- 신용협동조합(장안신협, 화서신협, 의왕신협, 부산치과의사신협, 오산제일신협, 부평제일신협, 일산신협 등) 송무 및 자문업무 다수 수행</p>
          <p class="detail" style="">- 레이크힐스 자문 및 송무변호사</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #introduce-title > span{
    color: rgba(55, 122, 183, 0.33);
    cursor: pointer;
  }
  #introduce-title > span.active{
    color: rgba(55, 122, 183, 1);
  }
</style>
<script>
  $("#member_3").click(function(){
    
    $("#member_4").removeClass("active");
    $("#member_detail_4").fadeOut();
    
    $("#member_5").removeClass("active");
    $("#member_detail_5").fadeOut();
    
    $("#member_6").removeClass("active");
    $("#member_detail_6").fadeOut();
    
    $("#member_7").removeClass("active");
    $("#member_detail_7").fadeOut();
    
    
    $(this).addClass("active");
    $("#member_detail_3").fadeIn();
  });
  $("#member_4").click(function(){
    
    $("#member_3").removeClass("active");
    $("#member_detail_3").fadeOut();
    
    $("#member_5").removeClass("active");
    $("#member_detail_5").fadeOut();
    
    $("#member_6").removeClass("active");
    $("#member_detail_6").fadeOut();
    
    $("#member_7").removeClass("active");
    $("#member_detail_7").fadeOut();
    
    
    $(this).addClass("active");
    $("#member_detail_4").fadeIn();
  });
  $("#member_5").click(function(){
    
    $("#member_3").removeClass("active");
    $("#member_detail_3").fadeOut();
    
    $("#member_4").removeClass("active");
    $("#member_detail_4").fadeOut();
    
    $("#member_6").removeClass("active");
    $("#member_detail_6").fadeOut();
    
    $("#member_7").removeClass("active");
    $("#member_detail_7").fadeOut();
    
    
    $(this).addClass("active");
    $("#member_detail_5").fadeIn();
  });
  $("#member_6").click(function(){
    
    $("#member_3").removeClass("active");
    $("#member_detail_3").fadeOut();
    
    $("#member_4").removeClass("active");
    $("#member_detail_4").fadeOut();
    
    $("#member_5").removeClass("active");
    $("#member_detail_5").fadeOut();
    
    $("#member_7").removeClass("active");
    $("#member_detail_7").fadeOut();
    
    
    $(this).addClass("active");
    $("#member_detail_6").fadeIn();
  });
  $("#member_7").click(function(){
    
    $("#member_3").removeClass("active");
    $("#member_detail_3").fadeOut();
    
    $("#member_4").removeClass("active");
    $("#member_detail_4").fadeOut();
    
    $("#member_5").removeClass("active");
    $("#member_detail_5").fadeOut();
    
    $("#member_6").removeClass("active");
    $("#member_detail_6").fadeOut();
    
    
    $(this).addClass("active");
    $("#member_detail_7").fadeIn();
  });
</script>


<style>
  .address{
    font-size: 22px !important;
    font-weight: bold;
    color: #666;
  }
  .address > span.detail{
    font-size: 21px !important;
    font-weight: 400;
    color: #555;
    background:#fff;
  }
  .trans{
    margin-top:20px;
  }
  .trans > p.detail{
    font-size: 20px !important;
    font-weight: bold;
    padding-left:10px;
  }
</style>