<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="">
	<title>법무법인 인본</title>
	<link href="/main/css/bootstrap.min.css" rel="stylesheet">
	<link href="/main/css/prettyPhoto.css" rel="stylesheet">
	<link href="/main/css/font-awesome.min.css" rel="stylesheet">
	<link href="/main/css/animate.css" rel="stylesheet">

	<link href="/main/css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]> <script src="/main/js/html5shiv.js"></script>
	<script src="/main/js/respond.min.js"></script> <![endif]-->


	<link rel="apple-touch-icon" sizes="120x120" href="/main/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/main/images/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/main/images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/main/images/favicons/manifest.json">
	<link rel="mask-icon" href="/main/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

	<!-- PNotify -->
	<link href="/admin/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
	<link href="/admin/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
	<link href="/admin/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/uikit.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/dataTables.uikit.min.css">


	<link href="/main/css/main.css" rel="stylesheet">
	<link href="/main/css/custom.css" rel="stylesheet">

</head><!--/head-->
<body>
	<script type="text/javascript" src="/main/js/jquery.js"></script>

	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/dataTables.uikit.min.js"></script>
	<div class="preloader">
		<div class="preloder-wrap">
			<div class="preloder-inner">
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
			</div>
		</div>
	</div><!--/.preloader-->

	<%= render partial: 'home/features/nav', layout: false %>

	<%= yield %>

	<%= render partial: 'home/features/footer', layout: false %>


	<script type="text/javascript" src="/main/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/main/js/smoothscroll.js"></script>
	<script type="text/javascript" src="/main/js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="/main/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="/main/js/jquery.parallax.js"></script>
	<script type="text/javascript" src="/main/js/main.js"></script>


	<!-- FastClick -->
	<!--<script src="/admin/vendors/fastclick/lib/fastclick.js"></script>-->


</body>
</html>
