<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="">
	<title>법무법인 인본</title>
	<link href="/main/css/bootstrap.min.css" rel="stylesheet">
	<link href="/main/css/prettyPhoto.css" rel="stylesheet">
	<link href="/main/css/font-awesome.min.css" rel="stylesheet">
	<link href="/main/css/animate.css" rel="stylesheet">

	<link href="/main/css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]> <script src="/main/js/html5shiv.js"></script>
	<script src="/main/js/respond.min.js"></script> <![endif]-->

  <link rel="apple-touch-icon" sizes="57x57" href="/main/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/main/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/main/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/main/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/main/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/main/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/main/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/main/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/main/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/main/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/main/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/main/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/main/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/main/images/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/main/images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
in
  <!-- PNotify -->
  <link href="/admin/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
  <link href="/admin/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
  <link href="/admin/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
  <!-- Custom Theme Style --><!--<link href="/admin/build/css/custom.min.css" rel="stylesheet">-->
  <!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css"> -->
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/uikit.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/dataTables.uikit.min.css">


	<link href="/main/css/main.css" rel="stylesheet">

</head><!--/head-->
<body>
	<script type="text/javascript" src="/main/js/jquery.js"></script>

	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/dataTables.uikit.min.js"></script>
	<div class="preloader">
		<div class="preloder-wrap">
			<div class="preloder-inner">
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
			</div>
		</div>
	</div><!--/.preloader-->

	<%= render partial: 'home/features/nav', layout: false %>

  <%= yield %>

		<%= render partial: 'home/features/footer', layout: false %>


  	<script type="text/javascript" src="/main/js/bootstrap.min.js"></script>
  	<script type="text/javascript" src="/main/js/smoothscroll.js"></script>
  	<script type="text/javascript" src="/main/js/jquery.isotope.min.js"></script>
  	<script type="text/javascript" src="/main/js/jquery.prettyPhoto.js"></script>
  	<script type="text/javascript" src="/main/js/jquery.parallax.js"></script>
  	<script type="text/javascript" src="/main/js/main.js"></script>


    <!-- FastClick -->
    <!--<script src="/admin/vendors/fastclick/lib/fastclick.js"></script>-->


  </body>
  </html>
